// ----------------------------------------------------------------------------
// Widget-jenkins-jobstates styles
// ----------------------------------------------------------------------------
.widget-jenkins-jobstates {

  .icon-background {
    &.success {
      background-color: hsl(126, 36%, 51%);
    }
    &.unknown {
      background-color: hsl(6, 46%, 1%);
    }
    &.fail {
      background-color: hsl(6, 46%, 51%);
    }

    background: url("/assets/jenkins.png") no-repeat 50% 50%;
  }

  .title {
    color: rgba(255,255,255, .7);
  }

  .jobs {
    margin: 0 auto
  }

  .job {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 12px;
    text-align: center;
    width: 60px;
    box-shadow: inset -7px -7px 20px rgba(0,0,0,.5), 3px 3px 6px rgba(0,0,0,.4);
    background: -webkit-radial-gradient(30% 20%, closest-corner, hsla(0, 100%, 100%, 0.6), hsla(0, 0%, 0%, 0.2));
  }

  .job:first-child {
    margin-left: 0;
  }

  .job[data-state="blue"] {
    background-color: green;
  }

  .job[data-state="red"] {
    background-color: red;
  }

  .job[data-state="grey"] {
    background-color: grey;
  }
}
