// ----------------------------------------------------------------------------
// Widget-jenkins-jobstates styles
// ----------------------------------------------------------------------------
.widget-jenkins-jobstates {
  background: lightgrey url("/assets/jenkins.png") no-repeat 50% 50%;

  .title {
    color: black;
  }

  .jobs {
    margin: 0 auto
  }

  .job {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 12px;
    text-align: center;
    width: 60px;
    box-shadow: inset -7px -7px 20px rgba(0,0,0,.5), 3px 3px 6px rgba(0,0,0,.4);
  }

  .job:first-child {
    margin-left: 0;
  }

  .job[data-state="blue"] {
    background-color: green;
  }

  .job[data-state="red"] {
    background-color: red;
  }

  .job[data-state="grey"] {
    background-color: grey;
  }
}
