$badge-size: 60px;

.story {
  background-color: #bcbc49;
  font-size: .8em;
  margin: .5em;
  padding: .5em;

  .title {
    font-size: 1.3em;
    margin-bottom: .5em;
  }

  .pie::before {
    background-color: #bcbc49;
  }

  &.chore,
  &.chore .pie::before {
    background-color: #808080;
  }

  &.bug,
  &.bug .pie::before {
    background-color: #9a2e2e;
  }

  &.release,
  &.release .pie::before {
    background-color: #000050;
  }

  .story-status {
    display: inline-block;
    font-size: $badge-size * .7;
    height: $badge-size;
    text-align: center;
    vertical-align: middle;
    width: $badge-size;

    &::before {
      line-height: $badge-size;
    }
  }

  .badges {
    display: inline-block;
    vertical-align: top;
  }
}

.branches {
  display: inline-block;
  text-align: top;
  vertical-align: top;

  > i {
    display: inline-block;
    font-size: $badge-size * .7;
    height: $badge-size;
    margin: 10px 0;
    text-align: center;
    vertical-align: top;
    width: $badge-size;

    &::before {
      vertical-align: middle;
    }
  }

  code {
    background-color: rgba(0, 0, 0, .6);
    display: inline-block;
    padding: .5em;
    vertical-align: top;
  }
}


.owner {
  border-radius: 50%;
  height: $badge-size;
  margin: 10px;
  vertical-align: middle;
  width: $badge-size;
}

$enabled: #fff;
$disabled: rgba(0, 0, 0, .4);

.pie {
  background-color: $disabled;
  border-radius: 50%;
  display: inline-block;
  height: $badge-size;
  margin: 10px;
  opacity: .8;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: $badge-size;

  i {
    display: block;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 60px;
    z-index: 300;
  }

  > div {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;
  }

  span {
    background-color: $enabled;
    display: block;
    height: 100%;
    width: 100%;
  }

  .left span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-transform-origin: 100% 50%;
  }

  .right span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-transform-origin: 0% 50%;
  }

  &::before,
  &::after {
    border-radius: 50%;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
  }

  &::before {
    content: '';
    height: 75%;
    width: 75%;
    z-index: 100;
  }

  &::after {
    color: $enabled;
    content: attr(data-percent) '%';
    font: {
      family: Arial, sans-serif;
      size: .8em;
      weight: bold;
    }
    padding-top: 1em;
    text-align: center;
    z-index: 200;
  }
}
