.widget.widget-achievements {
  background-color: #333;
  font-size: 2em;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;

  .achievements {
    height: 2em;
    overflow: hidden;
  }

  .achievement {
    transition: margin-top .5s;

    p {
      -webkit-animation: shadowy 3s infinite ease-in-out;
      color: #fff;
      margin: 0;
      text-shadow: .2em .2em #000;
    }
  }
}

@-webkit-keyframes shadowy {
  0% {
    text-shadow: .2em .2em #000;
  }

  25% {
    text-shadow: -.2em .2em #000;
  }

  50% {
    text-shadow: -.2em -.2em #000;
  }

  75% {
    text-shadow: .2em -.2em #000;
  }
}

@-webkit-keyframes circlinglight {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes wiggle {
  from {
    left: 2em;
    top: 0;
  }

  to {
    left: -2em;
    top: 1em;
  }
}

@-webkit-keyframes colorcycle {
  from {
    -webkit-filter: hue-rotate(0deg) blur(.1em);
  }

  to {
    -webkit-filter: hue-rotate(360deg) blur(.05em);
  }
}

.disco {
  .light {
    -webkit-animation: circlinglight 5s infinite linear, colorcycle 5s infinite linear alternate;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 25%;
    left:  15%;
    opacity: .7;
    text-indent: 1em;
    color: hsl(0, 100%, 75%);
    &::before {
      content: "\2b24 .";
      color: hsl(120, 100%, 75%);
      position: absolute;
      top: -0.5em;
      left: -3em;
      font-size: 1.3em;
      -webkit-animation: wiggle 6s infinite alternate linear;
      opacity: 0.7;
    }

    &::after {
      content: ". \2b24";
      color: hsl(240, 100%, 75%);
      position: absolute;
      top: 0.5em;
      left: 3em;
      opacity: 0.7;
    }
  }
}
