.widget.widget-achievements {
  background-color: #333;
  font-size: 2em;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;

  .achievements {
    height: 2em;
    overflow: hidden;
  }

  .achievement {
    transition: margin-top .5s;

    p {
      -webkit-animation: shadowy 3s infinite ease-in-out;
      color: #fff;
      margin: 0;
      text-shadow: .2em .2em #000;
    }
  }
}

@-webkit-keyframes shadowy {
  0% {
    text-shadow: .2em .2em #000;
  }

  25% {
    text-shadow: -.2em .2em #000;
  }

  50% {
    text-shadow: -.2em -.2em #000;
  }

  75% {
    text-shadow: .2em -.2em #000;
  }
}

@-webkit-keyframes circlinglight {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes swirlinglight {
  0% {
    transform: rotate(-60deg);
  }

  50% {
    width: 50px;
  }

  100% {
    transform: rotate(60deg);
  }
}

@-webkit-keyframes swirlinglight2 {
  0% {
    transform: rotate(-80deg);
  }

  100% {
    transform: rotate(80deg);
  }
}

@-webkit-keyframes wiggle {
  from {
    left: 2em;
    top: 0;
  }

  to {
    left: -2em;
    top: 1em;
  }
}

@-webkit-keyframes colorcycle {
  from {
    -webkit-filter: hue-rotate(0deg) blur(.1em);
  }

  to {
    -webkit-filter: hue-rotate(360deg) blur(.05em);
  }
}

.disco {
  .light {
    -webkit-animation: circlinglight 5s infinite linear, colorcycle 5s infinite linear alternate;
    color: hsl(0, 100%, 75%);
    font-size: 6em;
    left: 15%;
    line-height: 1;
    opacity: .7;
    position: absolute;
    text-indent: 1em;
    top: 25%;

    &::before {
      -webkit-animation: wiggle 6s infinite alternate linear;
      color: hsl(120, 100%, 75%);
      content: '\2b24 .';
      font-size: 1.3em;
      left: -3em;
      opacity: .7;
      position: absolute;
      top: -.5em;
    }

    &::after {
      color: hsl(240, 100%, 75%);
      content: '. \2b24';
      left: 3em;
      opacity: .7;
      position: absolute;
      top: .5em;
    }
  }

  .beam {
    -webkit-animation: swirlinglight 5s infinite linear alternate, colorcycle 5s infinite linear alternate;
    background-color: hsl(0, 90%, 70%);
    border-radius: 50%;
    height: 16em;
    left: 50%;
    opacity: .7;
    position: absolute;
    top: 0;
    transform: rotate(50deg);
    transform-origin: 50% 0;
    width: 4px;

    &::before {
      -webkit-animation: swirlinglight2 2.5s -2.5s infinite linear alternate, colorcycle 5s infinite linear alternate;
      background-color: hsl(240, 80%, 70%);
      border-radius: 50%;
      color: hsl(240, 80%, 70%);
      content: '.';
      height: 16em;
      left: 50%;
      opacity: .7;
      position: absolute;
      top: -30px;
      transform: rotate(50deg);
      transform-origin: 50% 0;
      width: 8px;
    }

    &::after {
      -webkit-animation: swirlinglight2 5s -2.5s infinite linear alternate, colorcycle 5s infinite linear alternate;
      background-color: hsl(120, 60%, 80%);
      border-radius: 50%;
      color: hsl(120, 60%, 80%);
      content: '.';
      height: 16em;
      left: 50%;
      opacity: .7;
      position: absolute;
      top: -30px;
      transform: rotate(50deg);
      transform-origin: 50% 0;
      width: 14px;
    }
  }
}
