$tracker-bugs: hsl(0, 71%, 33%);
$tracker-support: hsl(247, 73%, 26%);

@keyframes alert-bugs {
  from { background-color: $tracker-bugs; }
  to { background-color: lighten($tracker-bugs, 10%); }
}

@-webkit-keyframes alert-bugs {
  from { background-color: $tracker-bugs; }
  to { background-color: lighten($tracker-bugs, 10%); }
}

@keyframes alert-support {
  from { background-color: $tracker-support; }
  to { background-color: lighten($tracker-support, 10%); }
}
@-webkit-keyframes alert-support {
  from { background-color: $tracker-support; }
  to { background-color: lighten($tracker-support, 10%); }
}

.widget-issue-count {
  font-size: .6em;
  padding: 0 !important;

  .value {
    font-size: 2.5em;
    font-weight: bold;
  }

  .total {
    font-size: 1.5em;
  }

  &.redmine_bugs {
    // background-color: #8f1818;
    background-color: darken($tracker-bugs, 10%);

    &.status-alert {
      -webkit-animation: alert-bugs 1s linear 0 infinite alternate;
      animation: alert-bugs 1s linear 0 infinite alternate;
    }

    .value,
    .title,
    .total {
      color: hsl(60, 46%, 51%);
    }
  }
  &.redmine_support {
    &.status-alert {
      animation: alert-support 1s linear 0 infinite alternate;
      -webkit-animation: alert-support 1s linear 0 infinite alternate;
    }
    /*background-color: #1E1275;*/
    background-color: darken($tracker-support, 10%);
    .value, .title, .total {
      color: hsl(0, 0, 100%);
    }
  }
}
