// ----------------------------------------------------------------------------
// Widget-jenkins-jobs styles
// ----------------------------------------------------------------------------
.widget-jenkins-jobs {
  padding: 0 !important;

  .job {
    float: left;
  }
}

.widget-jenkins-jobs[data-cols="3"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 32%;
  }

  .job:nth-child(3n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="4"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 23.75%;
  }

  .job:nth-child(4n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="5"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 18.8%;
  }

  .job:nth-child(5n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="6"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 15.5%;
  }

  .job:nth-child(6n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="7"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 13.14285%;
  }

  .job:nth-child(7n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="8"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 11.375%;
  }

  .job:nth-child(8n + 1) {
    clear: left;
  }
}
