// ----------------------------------------------------------------------------
// Widget-jenkins-jobs styles
// ----------------------------------------------------------------------------
@mixin to-foreground {
  position: relative;
  box-shadow: 0px 3px 6px 3px rgba(0,0,0,.35);
  -webkit-transform: scale(1.04);
}

@keyframes jenkins-build-success {
  from { background-color: green; }
  to { background-color: lighten(green, 10%); }
}
@-webkit-keyframes jenkins-build-success {
  from { background-color: green; }
  to { background-color: lighten(green, 10%); }
}
@keyframes jenkins-build-failure {
  from { background-color: red; }
  to { background-color: lighten(red, 20%); }
}
@-webkit-keyframes jenkins-build-failure {
  from { background-color: red; }
  to { background-color: lighten(red, 20%); }
}

.widget-jenkins-jobs {
  /*background-color: lightgrey;*/
  padding: 0px !important;

  .title {
    color: black;
  }

  .job {
    float: left;
    padding: 4px 0px;
    height: 4em;
    box-shadow: 0 1px 3px rgba(0,0,0,.35);
    border-radius: 4px;
  }

  .job[data-state="blue"] {
    background-color: green;
  }

  .job[data-state="blue_anime"] {
    animation: jenkins-build-success 1s linear 0 infinite alternate;
    -webkit-animation: jenkins-build-success 1s linear 0 infinite alternate;
    @include to-foreground;
  }

  .job[data-state="red"] {
    background-color: red;
  }

  .job[data-state="red_anime"] {
    animation: jenkins-build-failure 1s linear 0 infinite alternate;
    -webkit-animation: jenkins-build-failure 1s linear 0 infinite alternate;
    @include to-foreground;
  }

  .job[data-state="grey"] {
    background-color: grey;
  }

  .job span {
    padding: 0px 4px;
    color: rgba(255,255,255,.8);
  }
}

.widget-jenkins-jobs[data-cols="3"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 32.0%;
  }

  .job:nth-child(3n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="4"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 23.75%;
  }

  .job:nth-child(4n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="5"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 18.8%;
  }

  .job:nth-child(5n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="6"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 15.5%;
  }

  .job:nth-child(6n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="7"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 13.14285%;
  }

  .job:nth-child(7n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="8"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 11.375%;
  }

  .job:nth-child(8n + 1) {
    clear: left;
  }
}
