<% content_for :title do %>OSS - YOR Kanban board<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="pivotal_upcoming" data-view="PivotalLane" data-title="Upcoming"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="3">
      <div data-id="pivotal_wip" data-view="PivotalLane" data-title="WIP"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="3">
      <div data-id="pivotal_demo" data-view="PivotalLane" data-title="Demo"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="3">
      <div data-id="pivotal_done" data-view="PivotalLane" data-title="Done"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="3">
      <div data-id="pivotal_impeded" data-view="PivotalLane" data-title="Impeded"></div>
    </li>

  </ul>
</div>
