<% content_for :title do %>OSS - YOR Kanban board<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="3">
      <div data-id="pivotal_wip" data-view="PivotalLane" data-title="WIP"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="3">
      <div data-id="pivotal_done" data-view="PivotalLane" data-title="Done"></div>
    </li>
  </ul>
</div>
