<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // 1680x1050
  Dashing.widget_base_dimensions = [320, 77]
  Dashing.numColumns = 1

  setTimeout(function() {
    gridster = $('.gridster ul').gridster().data('gridster');
    gridster.disable()
  }, 500);
});
</script>
<% content_for :title do %>OSS - YOR Team board<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="4">
      <div data-id="jenkins_stable" data-view="JenkinsJobRuns" data-title="Stable Branches"></div>
    </li>
    <li data-row="5" data-col="1" data-sizex="1" data-sizey="4">
      <div data-id="environment_versions" data-view="EnvironmentVersions" data-title="Environments"></div>
    </li>
    <li data-row="9" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="redmine_bugs" data-view="IssueCount" data-title="Bug" data-icon="bug"></div>
    </li>
    <li data-row="10" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="redmine_support" data-view="IssueCount" data-title="Support" data-icon="phone"></div>
    </li>
    <li data-row="11" data-col="1" data-sizex="1" data-sizey="4">
      <div data-id="jenkins_jobs_feature" data-view="JenkinsJobRuns" data-title="Feature Branches"></div>
    </li>
    <li data-row="15" data-col="1" data-sizex="1" data-sizey="4">
      <div data-id="jenkins_jobs_fix" data-view="JenkinsJobRuns" data-title="Fix Branches"></div>
    </li>
    <li data-row="19" data-col="1" data-sizex="1" data-sizey="4">
      <div data-id="jenkins_jobs_experiment" data-view="JenkinsJobRuns" data-title="Experiments"></div>
    </li>
  </ul>
</div>

