<% content_for :title do %>OSS - YOR Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="luminaire_count" data-view="LuminaireCount" data-title="Luminaire Count"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="visit_count" data-view="Graph" data-title="Visits Today" style="background-color:#ff9618"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="sold_count" data-view="Graph" data-title="Units Sold Today" style="background-color: green"></div>
    </li>


  </ul>
</div>
