<% content_for :title do %>OSS - YOR Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="jenkins_jobs" data-view="JenkinsJobs" data-title="Jenkins Jobs" data-cols="3"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="redmine_support" data-view="IssueCount" data-title="Support" data-icon="phone"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="redmine_bugs" data-view="IssueCount" data-title="Bugs" data-icon="bug"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="luminaire_count" data-view="LuminaireCount" data-title="Luminaire Count"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="visit_count" data-view="Graph" data-title="Visits Today" style="background-color:#ff9618"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="sold_count" data-view="Graph" data-title="Units Sold Today" style="background-color: green"></div>
    </li>


  </ul>
</div>
