<% content_for :title do %>OSS - YOR Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins_jobstates" data-view="Jenkins_Jobstates" data-title="Jenkins Jobstates"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="3" data-sizey="1">
      <div data-id="jenkins_jobs" data-view="Jenkins_Jobs" data-title="Jenkins Jobs" data-cols="3"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="issue_count" data-view="IssueCount" data-title="Issues" style="background-color:#8f1818"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="environment_versions" data-view="EnvironmentVersions" data-title="Environments"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="luminaire_count" data-view="LuminaireCount" data-title="Luminaire Count"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="visit_count" data-view="Graph" data-title="Visits Today" style="background-color:#ff9618"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="sold_count" data-view="Graph" data-title="Units Sold Today" style="background-color: green"></div>
    </li>


  </ul>
</div>
