<% content_for :title do %>OSS - YOR Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div data-id="JOB" data-view="JenkinsBuild" data-title="BUILD" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>
  </ul>
</div>
