<% content_for :title do %>OSS - YOR Dashboard<% end %>
<div data-id="background" data-view="BackgroundImage"></div>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="2">
      <div data-id="facts" data-view="Facts"></div>
    </li>
  </ul>
</div>
